@import "./colors.scss";
@import "./media.scss";
@import "./sizing.scss";

$roboto: "Roboto";
$roboto-slab: "Roboto Slab";
$papyrus: "Papyrus";

$font-sizing: (
  "xs": 8px,
  "body": 14px,
  "sm": 16px,
  "md": 18px,
  "lg": 20px,
  "jumbo": 30px,
);

$letter-spacing: (
  "xs": rem(2px),
  "sm": rem(4px),
  "md": rem(6px),
  "lg": rem(8px),
  "xl": rem(10px),
);

$typeface-colors: (
  "light-primary": rgba($silver, 1),
  "light-primary-25": rgba($silver, 0.5),
  "light-primary-5": rgba($silver, 0.25),
  "dark-primary": $scorpion,
);

@mixin primary-sans-serif {
  font-family: $roboto, sans-serif;
  font-weight: 100;
}

@mixin primary-serif {
  font-family: $roboto-slab, serif;
  font-weight: 400;
}

@mixin primary-cursive {
  font-family: $roboto, sans-serif;
  font-weight: 100;
}
