@import "./media.scss";
@import "./sizing.scss";

$roboto: "Roboto";
$robotoSlab: "Roboto Slab";

@mixin robotoThin {
  font-family: $roboto, sans-serif;
  font-weight: 100;
}

@mixin robotoLight {
  font-family: $roboto, sans-serif;
  font-weight: 300;
}

@mixin robotoRegular {
  font-family: $roboto, sans-serif;
  font-weight: 400;
}

@mixin robotoSlabLight {
  font-family: $robotoSlab, serif;
  font-weight: 300;
}

@mixin robotoSlabRegular {
  font-family: $robotoSlab, serif;
  font-weight: 400;
}

@mixin robotoSlabMedium {
  font-family: $robotoSlab, serif;
  font-weight: 500;
}

@mixin papyrus {
  font-family: Papyrus;
}

@mixin largeBody {
  @include robotoLight;

  font-size: rem(16px);
  letter-spacing: rem(3px);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;

  @include media(">=tablet") {
    letter-spacing: rem(10px);
    font-size: rem(30px);
  }
}
